footer {
	font-size:11px;
	line-height: 14px;
	color:#9fb7d6;
	position:relative;
}

.footer {
	&-copyright {
		float:left;
	}

	&-links {
		float:right;
		margin:0;
		overflow:hidden;
		padding:0;
		position:relative;

		li {
			float:left;
			font-size:11px;
			line-height: 14px;
			list-style:none;
			padding-left:4px;

			a {
				color:#9fb7d6;

				&:hover {
					text-decoration:underline;
					color:#fff;
				}
			}
		}
	}

	&-content {
	 background-color: #14375a;
	 padding: 5px 15px;
	 overflow:hidden;
	 position:relative;
	}

	&-counters {
	 text-align:center;
	 padding:20px 0 10px;
	}
}
