.content {
	box-shadow: 0 2px 10px 0 #d8dde6;
	margin-bottom: 20px;
	position: relative;
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
}

.content-block {
	position:relative;
	margin-top: 20px;
}

.col-main {
	box-sizing: border-box;
	float:right;
	width:74%;
	margin-left: 1%;
}

.col-left {
	box-sizing: border-box;
	float:left;
	width:25%;
}
