/*.HMenu {
 text-align:left;
 padding: 0; 
 margin: 0 auto;
 border-bottom:1px solid #d0d1d5;
 overflow:hidden;
}

.HMenu li {
 float:left;
 display:inline-block;
 font-family:Times New Roman;
 font-size:15px;
 line-height: 18px;
 color:#696969;
 font-weight:bold;
 list-style:none;
}

.HMenu li a {
 display:inline-block;
 text-decoration:none; 
 color:#696969;
 padding: 1px 6px 4px;
}
.HMenu a:hover {text-decoration:none;}*/



/*.HMenu > li.last {float:right;}*/

/* Menus */
ul.uz {list-style: none; margin: 0 0 0 0; padding-left: 0px;line-height: 16px;}
.uz li,
li.menus {font-size:12px; margin: 0; padding: 0 0 0 11px; background: url('http://src.ucoz.ru/t/831/22.gif') no-repeat 3px 4px; margin-bottom: 10px;}
/* ----- */

.main-menu {
 font-size: 15px;
}

.top-menu {
 text-align:left;
 padding: 0;
 margin: 0;
 list-style: none;
 float: left;
}

.top-menu > li {
 float:left;
 position: relative;
 transition: ease 0.2s all;
}

.top-menu > li:hover {
    background: none;
}

.top-menu > li > a {
 display:inline-block;
 text-decoration:none; 
 color: #fff;
 margin: 0;
 padding: 4px 25px;
}

.top-menu > li > a:hover {
 color: #d4d4d4;
}

.top-menu .dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 200px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
background-color: #ffffff;
box-shadow: 0 0 53px rgba(0,0,0,.1);
border-radius: 4px;
}

.top-menu .dropdown-menu li a {
    display: block;
    font-size: 13px;
    padding: 7px 15px;
    transition: ease 0.2s all;
}

.top-menu .dropdown-menu li:last-child a {
    border-bottom: none;
}

.top-menu .dropdown-menu li a:hover {
    text-decoration: none;
    background-color: #F5F5F5;
}

.top-menu > li:hover .dropdown-menu {
 display: block;
 margin: 0;
}

.board-menu {
    float: right;
    line-height: 34px;
    margin-right: 15px;
}
