/*--------------------- User ---------------------*/

.user_profile {
    &-list {
        margin-bottom: 40px;
    }

    &-item {
        align-items: center;
        display: flex;
        margin-bottom: 10px;
    }

    &-item_title {
        display: inline-flex;
        flex-basis: 24%;
    }

    &-item_content {
        flex-basis: 76%;
    }
}

.user_block {
    margin-bottom: 20px;
    text-align: center;
}

.user_block-avatar img {
    height: auto;
    max-width: 200px;
}

.user_block-avatar span {
    display: inline-block;
}

.user_block-username span.statusOnline,
.user_block-username span.statusOffline {
    border-radius: 4px;
    display: inline-block;
    height: 8px;
    text-indent: -5000px;
    width: 8px;
}

.user_block-username span.statusOnline {
    background: green;
}

.user_block-username span.statusOffline {
    background: red;
}
