@import "settings/all";

@import "general";
@import "layouts";
@import "header";
@import "footer";
@import "sidebar";
@import "components/all";
@import "modules/all";

/*--------------------- Content ---------------------*/

.settings-list {display:none;}
.settings-list span {display:block !important;}
.settings-list img {display:none;}

.eDetails {
 color:#1A1A1A;
 padding-bottom:5px;
 padding-top:5px; 
 text-align:right;
 font-size:7pt;
}

.eDetails1 {
 background:#fff;
 font-family:Tahoma,Arial,Sans-Serif;
 color:#1A1A1A;
 text-align:left;
 font-size:8pt;
}

.eDetails2 {
 padding-top:5px;
}

/* Entries Style */
.eBlock {
    background:#e2edfb; 
    border-top:1px solid #C9CFD8;
    border-left:1px solid #B9BFC7;
    border-bottom:1px solid #4F5D71;
    border-right:1px solid #4F5D71;
}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:12px;font-weight:bold;color:#4D6D91; padding: 0 0 0 17px; background: url('http://src.ucoz.ru/t/831/24.gif') no-repeat 1px 3px;}
.eTitlehall {
    font-family:Verdana,Arial,Sans-Serif;
    font-size:12px;
    font-weight:bold;
    color:#4D6D91;
    padding: 0 0 0 17px;
}
.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;}
.textHr {color:#DDDDDD;height:1px;border:1px dashed #DDDDDD;}

.eDetails3 {background:#ffffff;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:3px;padding-top:3px; text-align:right;font-size:7pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('http://src.ucoz.ru/t/831/25.gif') no-repeat 0px 0px;}

/*.b-border-image__list {
 position:absolute;
 background:#fff;
 border:1px solid #b8b8b8;
 list-style:none;
 right:4px;
 top:25px;
padding:0;
 margin:0;
 z-index:99;
}

.b-border-image__list li {
 border-top:1px solid #b8b8b8;
 font-size:13px;
 line-height:17px;
}

.b-border-image__list li:first-child {
 border-top:none;
}

.b-border-image__list li a {
 display:block;
 color:#303235;
 text-decoration:none;
 padding: 8px 21px 7px 13px;
}

.b-border-image__list li a:hover {
 background-color: #F5F5F5;
}

.vip-board-desc {
 border: 1px dashed #f00;
 padding:10px;
}

div.bordered,
h5.bordered
{
 color:#99958c;
 font-family:Times New Roman;
 font-size:14px;
 line-height:20px;
 font-weight:bold;
 text-align:center;
 text-transform: uppercase;
 padding:5px 0;
 border-top:1px solid #99958c;
 border-bottom:1px solid #99958c;
 margin: 0;
}

.secondary-cols {
 position:relative;
 overflow:hidden;
 padding:0;
 margin:0 0 20px;
}

.secondary-cols li {
 float:left;
 border-right: 1px solid #c9c5c5;
 font-family:Times New Roman; 
 font-size:17px;
 line-height:21px;
 list-style:none;
 padding:0 10px;
 height:250px;
 width:135px;
}

.secondary-cols li.last {
 border:none;
 width:334px;
}*/


/*.alert_block {
 background: url('/Images-new/Icos/i.png') no-repeat 0px 50%;
 border:1px solid #f00;
 min-height:44px;
 padding: 10px 10px 10px 65px;
}*/

/*--------------------- Content end ---------------------*/

/*a.VipLink {color:#B22222;}*/

/* --Последнее--- */
/*#toprightPan{width:170px; height:185px; position:absolute; top:0px; right:0px;}
#toprightPan ul{width:117px; height:147px; margin:18px 0 0;}
#toprightPan ul li{height:30px; border-bottom:1px solid #CBCACA; line-height:29px;}
#toprightPan ul li a {width:117px; display:block; background:url(images/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
#toprightPan ul li a:hover{background:url(images/arrow-hover.gif) 0 50% no-repeat; text-decoration:none;}
#toprightPan ul li.underlinenone{height:30px; border-bottom:none; line-height:29px;} 

ul.un {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 11px; background: url('http://src.ucoz.ru/t/831/22.gif') no-repeat 3px 4px; margin-bottom: .6em;}

.k {font-family:Verdana,Tahoma,Arial,Helvetica;}
a.k {width:117px; display:block; background:url(http://vendors.com.ua/Images/Temp/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
a.k:hover{margin: 0; padding: 0 0 0 31px; background:url(http://vendors.com.ua/Images/Temp/arrow-hover.gif) 0 50% no-repeat; text-decoration:none;}

.ka 
a.ka {width:117px; display:block; background:url(http://vendors.com.ua/Images/Temp/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
a.ka:hover{margin: 0; padding: 0 0 0 31px; background:url(http://vendors.com.ua/Images/Temp/arrow-hover.gif) no-repeat 3px 4px; margin-bottom: .6em;}
li.k {margin: 0; padding: 0 0 0 31px; background: url('http://vendors.com.ua/Images/Temp/arrow-normal.gif') no-repeat 3px 4px; margin-bottom: .6em;}*/
/* --Последнее--- */

/* ----------------- */


/* ------------- */

/* Entry Manage Table 
.manTdError {color:#F00;}*/

/* ------------------ */

/* Comments Style 
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

/*.cBlock1 {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;border-top:1px solid #C9CFD8;border-left:1px solid #B9BFC7;border-bottom:1px solid #4F5D71;border-right:1px solid #4F5D71;}
.cBlock2 {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;border-top:1px solid #C9CFD8;border-left:1px solid #B9BFC7;border-bottom:1px solid #4F5D71;border-right:1px solid #4F5D71;}*/

/* User Group Marks */

/* ---------------- */

/* Other Styles 
.replaceTable {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;height:100px;width:300px;border:1px solid #597798;}

.legendTd {font-size:7pt;}
/* ------------ */

