@charset "UTF-8";
/*--------------------- Reset ---------------------*/
dl, dd {
  margin: 0; }

#uappbanner {
  display: none !important; }

html {
  margin-top: 0 !important; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*--------------------- General ---------------------*/
body {
  font-family: arial, helvetica;
  font-size: 16px;
  line-height: 27px;
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #fafafa; }

p {
  margin: 0 0 20px; }

ul {
  margin: 0;
  list-style: none;
  padding-left: 0; }

.TblTD1 {
  background-color: #f7f9fd; }

.TblTD2 {
  background-color: red; }

.ExternalLink a:link {
  background-image: url("/Images/Icos/external.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  padding-right: 13px; }

.ExternalLink a:visited {
  background-image: url("/Images/Icos/external.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-color: transparent;
  padding-right: 13px; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 10px;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal; }

h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: normal; }

h3 {
  font-size: 22px;
  line-height: 30px;
  font-weight: normal; }

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: normal; }

h5 {
  font-size: 14px;
  line-height: 20px; }

h2 a,
h2 a,
h4 a {
  color: #333; }

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative; }

.hidden {
  display: none !important; }

.content,
.header-content,
.footer-content {
  margin: 0 auto;
  position: relative;
  width: 1170px;
  box-sizing: border-box; }

.aligncenter {
  text-align: center; }

.m10 {
  margin-bottom: 10px; }

.bl {
  display: block; }

.clear {
  clear: both; }

.show {
  display: block !important; }

#back-top {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  z-index: 1; }

#back-top a {
  width: 100px;
  padding-top: 10px;
  height: 100%;
  display: block;
  text-align: center;
  font: 11px/100% Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #45688E;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }

#back-top a:hover {
  background: #e1e7ed; }

#back-top a span {
  display: inline-block; }

.alert {
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 4px 4px 4px 4px;
  color: #C09853;
  margin: 10px 0;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-danger, .alert-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  border-radius: 4px 4px 4px 4px;
  color: #B94A48;
  margin: 10px 0;
  padding: 8px 14px; }

.notice {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 2px;
  border: 1px solid #eaeff5;
  border-left: 6px solid #838992;
  box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -webkit-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08);
  -moz-box-shadow: 0 0 10px 1px rgba(71, 85, 95, 0.08); }

.notice-danger {
  border-left-color: #eb344f; }

.notice-danger > strong {
  color: #eb344f; }

.notice-success {
  border-left-color: #74ba28; }

.notice-success > strong {
  color: #74ba28; }

.notice-info {
  border-left-color: #1db4bd; }

.notice-info > strong {
  color: #1db4bd; }

.notice-warning {
  border-left-color: #fea911; }

.notice-warning > strong {
  color: #fea911; }

a {
  color: #1c7bd3;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.topLink a {
  text-decoration: none;
  color: #FFFFFF; }

.topLink a:hover {
  text-decoration: none;
  color: #BDC8D8; }

.topLink1 a {
  text-decoration: none;
  color: #BDC8D8; }

.topLink1 a:hover {
  text-decoration: none;
  color: #000000; }

td {
  text-align: left; }

form {
  padding: 0 !important;
  margin: 0 !important; }

.form-row {
  clear: both;
  margin-bottom: 15px;
  width: 100%; }
  .form-row.no-indent {
    margin-bottom: 0; }

.field-wrapper.short input,
.field-wrapper.short select,
.field-wrapper.short textarea {
  width: 300px; }

.form-group {
  display: flex; }
  .form-group.col-2 .form-row {
    box-sizing: border-box;
    flex-basis: 50%; }
    .form-group.col-2 .form-row:first-child {
      padding-right: 15px; }

input, textarea, select {
  border-radius: 4px;
  border: 1px solid #ced4da;
  box-sizing: border-box;
  line-height: 24px;
  outline: none;
  padding: 6px 12px;
  width: 100%; }

textarea {
  height: 100px; }

input[type="radio"],
input[type="checkbox"] {
  height: auto;
  width: auto; }

.button,
.pollBut,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  background-image: none;
  width: auto !important;
  margin-bottom: 0;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 1px solid #1c7bd3;
  border-radius: 4px;
  background-position: center center;
  transition: all 0.1s ease;
  height: 38px;
  line-height: 24px;
  padding: 6px 12px;
  box-sizing: border-box; }

select {
  height: 38px; }

.button:hover,
.pollBut:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  text-decoration: none;
  background-image: none;
  background-color: #1c7bd3;
  color: #fff; }

.button.full {
  display: block; }

.buttons_row {
  margin-bottom: 50px;
  text-align: center; }

.copy {
  font-size: 7pt; }

a.noun {
  text-decoration: none;
  color: #4D6D91; }

a.noun:hover {
  text-decoration: none;
  color: #000000; }

a.nountag {
  text-decoration: none;
  color: #d1d3d5; }

a.nountag:hover {
  text-decoration: none;
  color: #000000; }

hr {
  color: #e6e6e6;
  background-color: #e6e6e6;
  height: 1px;
  border-width: 0px;
  margin: 5px 0 !important; }

label {
  cursor: pointer; }

.blockTitle {
  padding-left: 19px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 12px;
  background: url("http://src.ucoz.ru/t/831/20.gif") no-repeat 7px 6px;
  text-transform: capitalize; }

a.menu1 {
  text-decoration: underline;
  color: #DDEEF7; }

a.menu1:active {
  text-decoration: underline;
  color: #FFFFFF; }

.menuTd {
  font-family: Tahoma,Arial,Helvetica;
  padding-left: 15px;
  padding-right: 12px;
  background: url("http://src.ucoz.ru/t/831/21.gif") no-repeat 0px 3px; }

.mTd {
  padding-left: 12px;
  padding-top: 5px;
  padding-right: 1px; }

.pageTitle {
  font-family: Tahoma,Arial,Helvetica;
  font-size: 8pt;
  font-weight: bold;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px; }

.mframe {
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 3px; }

.blockT1 {
  border-left: 1px solid #5694B5; }

.blockT2 {
  padding: 5px; }

.clearfix:after,
#allEntries:after,
.allEntries:after,
.listing-body:after,
.sidebar-block:after,
.comment-header:after,
.seller-info:after,
.details:after,
.main-menu:after,
.details-list:after,
.category_list:after,
.listing_tile-info:after,
.seller-param:after,
.form-group:after,
.content-block:after,
.seller_info-header:after,
.homepage_articles_list-desc:after {
  display: block;
  content: "";
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0; }

.content {
  box-shadow: 0 2px 10px 0 #d8dde6;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px; }

.content-block {
  position: relative;
  margin-top: 20px; }

.col-main {
  box-sizing: border-box;
  float: right;
  width: 74%;
  margin-left: 1%; }

.col-left {
  box-sizing: border-box;
  float: left;
  width: 25%; }

header {
  margin-bottom: 20px;
  position: relative;
  background-image: url(/img/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0px 16%;
  height: 320px;
  background-size: 100% auto;
  margin-bottom: -100px; }
  header:before {
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #1f222b;
    opacity: .67;
    content: ""; }

.header_links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px; }
  .header_links:after {
    content: "";
    display: table;
    clear: both; }
  .header_links-list {
    float: right; }
  .header_links-item {
    display: inline-block;
    margin-left: 10px; }
    .header_links-item a {
      color: #fff;
      font-size: 13px;
      line-height: 17px; }

h1.logo {
  float: left;
  margin: 0 80px 0 0;
  padding: 0; }
  h1.logo a {
    display: block; }

.banner-top {
  background-color: #fff;
  border: 1px solid #ced4da;
  clear: both;
  font-size: 25px;
  font-weight: bold;
  height: 55px;
  line-height: 55px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase; }

footer {
  font-size: 11px;
  line-height: 14px;
  color: #9fb7d6;
  position: relative; }

.footer-copyright {
  float: left; }

.footer-links {
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative; }
  .footer-links li {
    float: left;
    font-size: 11px;
    line-height: 14px;
    list-style: none;
    padding-left: 4px; }
    .footer-links li a {
      color: #9fb7d6; }
      .footer-links li a:hover {
        text-decoration: underline;
        color: #fff; }

.footer-content {
  background-color: #14375a;
  padding: 5px 15px;
  overflow: hidden;
  position: relative; }

.footer-counters {
  text-align: center;
  padding: 20px 0 10px; }

.sidebar_block {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px; }
  .sidebar_block-title {
    font-size: 30px;
    margin-bottom: 12px; }
  .sidebar_block-content {
    padding: 0 5px; }
  .sidebar_block a {
    color: #333; }

.sidebar-menu {
  margin: 0;
  padding: 0; }
  .sidebar-menu li {
    list-style: none;
    padding-bottom: 5px; }
    .sidebar-menu li a,
    .sidebar-menu li span {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
      padding-left: 12px; }
    .sidebar-menu li a:hover {
      color: #000; }

/* Module Part Menu */
.catsTd {
  padding-bottom: 5px; }
  .catsTd span {
    font-size: 12px; }
  .catsTd .catDescr {
    display: none;
    padding-left: 10px; }
  .catsTd a.catNameActive {
    color: #000;
    text-decoration: none; }
    .catsTd a.catNameActive:hover {
      color: #000;
      text-decoration: underline; }

.catNumData {
  color: #1c7bd3;
  float: right;
  font-size: 12px; }

.tabs-content {
  border: 1px solid #EAEFF5;
  display: none;
  padding: 20px; }

.tabs-input {
  display: none; }
  .tabs-input:checked + label {
    color: #333;
    border: 1px solid #EAEFF5;
    border-top: 2px solid #1c7bd3;
    border-bottom: 1px solid #fff; }

.tabs-label {
  border: 1px solid transparent;
  color: #bbb;
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 -1px;
  padding: 15px;
  text-align: center; }
  .tabs-label.big {
    font-size: 22px;
    line-height: 30px;
    padding: 15px 25px; }
  .tabs-label:hover {
    color: #888;
    cursor: pointer; }

.tabs #tab1:checked ~ #content1,
.tabs #tab2:checked ~ #content2,
.tabs #tab3:checked ~ #content3,
.tabs #tab4:checked ~ #content4 {
  display: block; }

/* Menus */
ul.uz {
  list-style: none;
  margin: 0 0 0 0;
  padding-left: 0px;
  line-height: 16px; }

.uz li,
li.menus {
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 11px;
  background: url("http://src.ucoz.ru/t/831/22.gif") no-repeat 3px 4px;
  margin-bottom: 10px; }

/* ----- */
.main-menu {
  font-size: 15px; }

.top-menu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left; }
  .top-menu > li {
    float: left;
    position: relative;
    transition: ease 0.2s all; }
    .top-menu > li:hover {
      background: none; }
      .top-menu > li:hover .dropdown-menu {
        display: block;
        margin: 0; }
    .top-menu > li > a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin: 0;
      padding: 4px 25px; }
      .top-menu > li > a:hover {
        color: #d4d4d4; }
  .top-menu .dropdown-menu {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 53px rgba(0, 0, 0, 0.1);
    display: none;
    float: left;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 200px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000; }
    .top-menu .dropdown-menu li a {
      display: block;
      font-size: 13px;
      padding: 7px 15px;
      transition: ease 0.2s all; }
      .top-menu .dropdown-menu li a:hover {
        text-decoration: none;
        background-color: #F5F5F5; }
    .top-menu .dropdown-menu li:last-child a {
      border-bottom: none; }

.board-menu {
  float: right;
  line-height: 34px;
  margin-right: 15px; }

.details {
  font-size: 12px;
  margin-top: 20px; }
  .details-list {
    float: right; }
  .details-item {
    float: left;
    box-sizing: border-box;
    margin-left: 10px; }
    .details-item:first-child {
      margin-left: 0; }

.breadcrumbs {
  font-size: 11px;
  margin: 0 0 10px;
  list-style: none; }
  .breadcrumbs .divider {
    color: #A52A2A;
    padding: 0 1px; }
  .breadcrumbs li {
    display: inline-block;
    line-height: 25px; }
  .breadcrumbs a {
    text-decoration: none;
    color: #696969 !important;
    font-weight: normal; }

.hint-wrap {
  position: relative; }

.hint-block {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  bottom: 100%;
  color: #fff;
  font: 400 11px 'PT Sans', Arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 15px;
  max-width: 200px;
  opacity: 0;
  padding: 5px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all .2s ease-out;
  visibility: hidden; }
  .hint-block:after {
    border-top-color: #000;
    border-top-color: rgba(0, 0, 0, 0.7);
    border: 6px solid transparent;
    content: "";
    display: block;
    left: 21px;
    margin: 0 0 0 -6px;
    position: absolute;
    top: 100%; }

.hint-link:hover + .hint-block {
  visibility: visible;
  opacity: 1; }

.catPages1 {
  border: 0px;
  color: #607080;
  font-family: Verdana;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px; }
  .catPages1 b,
  .catPages1 a {
    background: #fff;
    border: 1px solid #1c7bd3;
    box-sizing: border-box;
    color: #999;
    display: inline-block;
    font-weight: bold;
    min-height: 20px;
    min-width: 47px;
    padding: 9px;
    text-decoration: none; }
  .catPages1 a:hover {
    background: #1c7bd3;
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
  .catPages1 b {
    border: none;
    color: #CCC; }

.article_comments-list {
  margin-bottom: 30px; }

.com-order-block {
  margin-bottom: 30px; }
  .com-order-block select {
    width: 200px; }

.comment {
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  margin-bottom: 20px; }
  .comment-header_left {
    float: left; }
  .comment-header_right {
    float: right; }
  .comment-raiting {
    font-size: 11px;
    font-family: Arial,sans-serif;
    float: left;
    margin-right: 10px; }
  .comment-author {
    font-size: 13px;
    font-weight: bold; }
  .comment-material {
    font-size: 12px; }

/* Default styles */
.commTd1 {
  color: #000000; }

.commFl {
  width: 100%; }

.smiles {
  border: 1px inset;
  background: #FAFCFE; }

.commReg {
  padding: 10 0 10 0px;
  text-align: center; }

.commError {
  color: #FF0000;
  margin-bottom: 10px; }

.pollBody {
  padding: 7px;
  margin: 0px;
  background: #FFFFFF; }

.textResults {
  background: #E2E6EA; }

.textResultsTd {
  background: #FFFFFF; }

.pollNow {
  border-bottom: 1px solid #E2E6EA;
  border-left: 1px solid #E2E6EA;
  border-right: 1px solid #E2E6EA; }

.totalVotesTable {
  border-bottom: 1px solid #E2E6EA;
  border-left: 1px solid #E2E6EA;
  border-right: 1px solid #E2E6EA; }

.totalVotesTd {
  background: #FFFFFF; }

.poll-question {
  font-weight: bold;
  padding-top: 2px;
  margin-bottom: 5px; }

.poll-answers {
  margin-bottom: 10px; }

.poll-answers .answer {
  margin-bottom: 5px; }

.poll-answers .answer input {
  margin: 0; }

.pollButton {
  margin-top: 10px; }

.total-votes {
  text-align: center;
  padding-top: 10px; }

.homepage-title {
  margin: 30px 0 50px;
  text-align: center; }

.homepage-column_2 {
  box-sizing: border-box;
  float: left;
  padding: 0 20px;
  width: 50%; }

.homepage-articles_item {
  margin-bottom: 20px; }

.homepage-articles_img {
  float: left;
  margin-right: 10px;
  width: 150px; }

.category_list {
  margin-bottom: 40px; }
  .category_list-item {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 15px;
    text-align: center; }
  .category_list-link {
    color: #333;
    display: inline-block; }
  .category_list-img {
    max-width: 100%;
    height: auto; }
  .category_list-title {
    display: block; }

.listings .listings_filters select {
  width: 200px; }

.listings .allEntries > li,
.listings .allEntries > div,
.listings #allEntries > li,
.listings #allEntries > div {
  box-sizing: border-box;
  padding: 0 10px;
  float: left; }

.listings.m-three_in_row .allEntries > li,
.listings.m-three_in_row .allEntries > div,
.listings.m-three_in_row #allEntries > li,
.listings.m-three_in_row #allEntries > div {
  width: 33%; }
  .listings.m-three_in_row .allEntries > li:nth-child(3n + 1),
  .listings.m-three_in_row .allEntries > div:nth-child(3n + 1),
  .listings.m-three_in_row #allEntries > li:nth-child(3n + 1),
  .listings.m-three_in_row #allEntries > div:nth-child(3n + 1) {
    clear: left; }

.listings.m-four_in_row .allEntries > li,
.listings.m-four_in_row .allEntries > div,
.listings.m-four_in_row #allEntries > li,
.listings.m-four_in_row #allEntries > div {
  width: 25%; }
  .listings.m-four_in_row .allEntries > li:nth-child(4n + 1),
  .listings.m-four_in_row .allEntries > div:nth-child(4n + 1),
  .listings.m-four_in_row #allEntries > li:nth-child(4n + 1),
  .listings.m-four_in_row #allEntries > div:nth-child(4n + 1) {
    clear: left; }

.listings.m-four_in_row .listing_tile-link {
  height: 262px;
  width: 262px; }

.listing_tile-link {
  display: block;
  float: none;
  height: 256px;
  margin: 0 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 256px; }

.listing_tile-img {
  height: auto;
  max-width: none;
  width: 100%; }

.listing_tile-price {
  background: #1c7bd3;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  padding: 0 10px;
  position: absolute;
  right: 0; }

.listing_tile-desc {
  border-bottom: 1px solid #EAEFF5;
  margin-bottom: 50px;
  padding-bottom: 10px; }

.listing_tile-title {
  font-size: 20px;
  line-height: 25px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center; }

.listing_tile-text {
  color: #797979;
  font-size: 14px;
  margin-bottom: 15px;
  max-height: 105px;
  overflow: hidden;
  text-align: center; }

.listing_tile-info {
  font-size: 12px;
  margin-top: 20px; }

.listing_tile-additional_info {
  font-size: 12px;
  line-height: 24px;
  text-align: center; }

.listing_tile.m-homepage_company .listing_tile-link {
  height: auto;
  width: auto; }
  .listing_tile.m-homepage_company .listing_tile-link img {
    height: auto;
    max-width: 100%; }

.lising_add_form .u-combo {
  border: none;
  position: relative; }
  .lising_add_form .u-combo .u-comboeditcell {
    border: none; }
  .lising_add_form .u-combo .u-comboedit {
    min-width: auto;
    padding: 6px 12px; }
  .lising_add_form .u-combo .u-combolist {
    border: 1px solid #B5B8C8; }
  .lising_add_form .u-combo #uCatsMenu7 {
    left: 0 !important;
    top: 37px !important; }

.listing-title {
  position: relative;
  margin-bottom: 15px; }

.listing-body {
  margin-bottom: 30px; }

.listing-img {
  box-sizing: border-box;
  float: left;
  padding: 0 70px 0 0;
  width: 40%; }
  .listing-img a {
    display: block; }
  .listing-img img {
    height: auto;
    width: 100%; }

.listing-info {
  box-sizing: border-box;
  float: left;
  margin-top: 30px;
  width: 60%; }
  .listing-info .details-list {
    float: none; }
  .listing-info ul {
    list-style: none;
    padding: 0; }

.listing-price {
  color: #1c7bd3;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px; }

.listing-tags {
  font-size: 12px; }

.listing-description {
  margin-bottom: 50px; }

.listing-contact_item {
  border-top: 1px solid #EAEFF5;
  margin-top: 10px;
  padding-top: 10px; }
  .listing-contact_item:after {
    content: "";
    display: table;
    clear: both; }
  .listing-contact_item:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }

.listing-contact_item_icon {
  color: #1c7bd3;
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 27px;
  margin-right: 15px; }

.listing-contact_item_type {
  display: inline-block;
  font-weight: bold;
  min-width: 150px; }

.seller_info-header {
  margin-bottom: 10px; }

.seller_info-avatar {
  float: left;
  margin-right: 10px;
  max-width: 50px; }
  .seller_info-avatar img {
    border: 1px solid #666;
    width: 50px; }

.seller_info-name {
  display: block;
  font-size: 16px;
  float: left;
  line-height: 24px;
  overflow-x: hidden;
  font-weight: bold;
  margin-bottom: 5px; }

.seller_info-status {
  font-size: 10px;
  line-height: 12px; }
  .seller_info-status.online {
    color: green;
    font-weight: bold; }
  .seller_info-status.offline {
    color: #B94A48; }

.seller_info-last_visit {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  margin-top: 5px; }

.seller_info-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.seller_info-item {
  margin-bottom: 10px;
  position: relative; }
  .seller_info-item.border {
    border-bottom: 1px solid #EAEFF5;
    padding-bottom: 10px; }

.seller_info-reputation {
  position: relative; }
  .seller_info-reputation span:hover {
    text-decoration: underline; }

.seller_info-ban a {
  color: #B94A48; }

/*--------------------- User ---------------------*/
.user_profile-list {
  margin-bottom: 40px; }

.user_profile-item {
  align-items: center;
  display: flex;
  margin-bottom: 10px; }

.user_profile-item_title {
  display: inline-flex;
  flex-basis: 24%; }

.user_profile-item_content {
  flex-basis: 76%; }

.user_block {
  margin-bottom: 20px;
  text-align: center; }
  .user_block-avatar img {
    height: auto;
    max-width: 200px; }
  .user_block-avatar span {
    display: inline-block; }
  .user_block-username span.statusOnline, .user_block-username span.statusOffline {
    border-radius: 4px;
    display: inline-block;
    height: 8px;
    text-indent: -5000px;
    width: 8px; }
  .user_block-username span.statusOnline {
    background: green; }
  .user_block-username span.statusOffline {
    background: red; }

a.groupModer, a.groupModer:hover {
  color: blue; }

a.groupAdmin, a.groupAdmin:hover {
  color: red; }

a.groupVerify, a.groupVerify:hover {
  color: green; }

a.groupOther1, a.groupOther1:hover {
  color: #0088CC; }

.article {
  border-bottom: 1px solid #EAEFF5;
  margin-bottom: 30px; }

.news_tile {
  display: flex;
  margin-bottom: 70px; }
  .news_tile-img {
    margin-right: 20px; }

/* News/Blog Archive Menu */
.archLi {
  padding: 0 0 3px 10px;
  background: url("http://src.ucoz.ru/t/831/26.gif") no-repeat 0px 4px; }

.archActive {
  text-decoration: underline; }

.archLi {
  font-family: Tahoma,Arial,Sans-Serif;
  font-size: 11px; }

a.archLink {
  text-decoration: none;
  color: #4D6D91; }

a.archLink:hover {
  text-decoration: underline;
  color: #4D6D91; }

/* ---------------------- */
/* News/Blog Archive Style */
.archiveCalendars {
  text-align: center;
  color: #0000FF; }

.archiveDateTitle {
  font-weight: bold;
  color: #4D6D91;
  padding-top: 15px; }

.archEntryHr {
  width: 250px;
  color: #DDDDDD; }

.archiveeTitle li {
  margin-left: 15px;
  padding: 0 0 0 15px;
  background: url("http://src.ucoz.ru/t/831/27.gif") no-repeat 0px 3px;
  margin-bottom: .6em; }

.archiveEntryTime {
  width: 65px;
  font-style: italic; }

.archiveEntryComms {
  font-size: 9px;
  color: #C3C3C3; }

a.archiveDateTitleLink {
  text-decoration: none;
  color: #4D6D91; }

a.archiveDateTitleLink:hover {
  text-decoration: underline;
  color: #4D6D91; }

.archiveNoEntry {
  text-align: center;
  color: #0000FF; }

/* ------------------------ */
/* News/Blog Calendar Style */
.calMonth {
  text-align: right; }

.calWday {
  border: 1px outset #4F5D71;
  background: #95A5B8;
  width: 17px;
  color: #FFFFFF; }

.calWdaySe {
  border: 1px outset #4F5D71;
  background: #4B6383;
  width: 17px;
  font-weight: bold;
  color: #FFFFFF; }

.calWdaySu {
  border: 1px outset #4F5D71;
  background: #4B6383;
  width: 17px;
  font-weight: bold;
  color: #FFFFFF; }

.calMday {
  border: 1px inset #4F5D71;
  background: #FFFFFF; }

.calMdayA {
  border: 1px inset #4F5D71;
  background: #E2E5E9;
  font-weight: bold; }

.calMdayIs {
  border: 1px outset #4F5D71;
  background: #C6CCD3; }

.calMdayIsA {
  border: 1px outset #4F5D71;
  background: #C6CCD3;
  font-weight: bold; }

a.calMonthLink {
  text-decoration: none;
  color: #4D6D91; }

a.calMonthLink:hover {
  text-decoration: underline;
  color: #4D6D91; }

a.calMdayLink {
  text-decoration: none;
  color: #4D6D91; }

a.calMdayLink:hover {
  text-decoration: underline;
  color: #000000; }

/* ------------------------ */
/*--------------------- Content ---------------------*/
.settings-list {
  display: none; }

.settings-list span {
  display: block !important; }

.settings-list img {
  display: none; }

.eDetails {
  color: #1A1A1A;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: right;
  font-size: 7pt; }

.eDetails1 {
  background: #fff;
  font-family: Tahoma,Arial,Sans-Serif;
  color: #1A1A1A;
  text-align: left;
  font-size: 8pt; }

.eDetails2 {
  padding-top: 5px; }

/* Entries Style */
.eBlock {
  background: #e2edfb;
  border-top: 1px solid #C9CFD8;
  border-left: 1px solid #B9BFC7;
  border-bottom: 1px solid #4F5D71;
  border-right: 1px solid #4F5D71; }

.eTitle {
  font-family: Verdana,Arial,Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  color: #4D6D91;
  padding: 0 0 0 17px;
  background: url("http://src.ucoz.ru/t/831/24.gif") no-repeat 1px 3px; }

.eTitlehall {
  font-family: Verdana,Arial,Sans-Serif;
  font-size: 12px;
  font-weight: bold;
  color: #4D6D91;
  padding: 0 0 0 17px; }

.eMessage {
  text-align: justify;
  padding-bottom: 5px; }

.eText {
  text-align: justify;
  padding-bottom: 5px;
  padding-top: 5px; }

.textHr {
  color: #DDDDDD;
  height: 1px;
  border: 1px dashed #DDDDDD; }

.eDetails3 {
  background: #ffffff;
  font-family: Tahoma,Arial,Sans-Serif;
  color: #1A1A1A;
  padding-bottom: 3px;
  padding-top: 3px;
  text-align: right;
  font-size: 7pt; }

.eRating {
  font-size: 7pt; }

.eAttach {
  margin: 16px 0 0 0;
  padding: 0 0 0 15px;
  background: url("http://src.ucoz.ru/t/831/25.gif") no-repeat 0px 0px; }

/*.b-border-image__list {
 position:absolute;
 background:#fff;
 border:1px solid #b8b8b8;
 list-style:none;
 right:4px;
 top:25px;
padding:0;
 margin:0;
 z-index:99;
}

.b-border-image__list li {
 border-top:1px solid #b8b8b8;
 font-size:13px;
 line-height:17px;
}

.b-border-image__list li:first-child {
 border-top:none;
}

.b-border-image__list li a {
 display:block;
 color:#303235;
 text-decoration:none;
 padding: 8px 21px 7px 13px;
}

.b-border-image__list li a:hover {
 background-color: #F5F5F5;
}

.vip-board-desc {
 border: 1px dashed #f00;
 padding:10px;
}

div.bordered,
h5.bordered
{
 color:#99958c;
 font-family:Times New Roman;
 font-size:14px;
 line-height:20px;
 font-weight:bold;
 text-align:center;
 text-transform: uppercase;
 padding:5px 0;
 border-top:1px solid #99958c;
 border-bottom:1px solid #99958c;
 margin: 0;
}

.secondary-cols {
 position:relative;
 overflow:hidden;
 padding:0;
 margin:0 0 20px;
}

.secondary-cols li {
 float:left;
 border-right: 1px solid #c9c5c5;
 font-family:Times New Roman; 
 font-size:17px;
 line-height:21px;
 list-style:none;
 padding:0 10px;
 height:250px;
 width:135px;
}

.secondary-cols li.last {
 border:none;
 width:334px;
}*/
/*.alert_block {
 background: url('/Images-new/Icos/i.png') no-repeat 0px 50%;
 border:1px solid #f00;
 min-height:44px;
 padding: 10px 10px 10px 65px;
}*/
/*--------------------- Content end ---------------------*/
/*a.VipLink {color:#B22222;}*/
/* --Последнее--- */
/*#toprightPan{width:170px; height:185px; position:absolute; top:0px; right:0px;}
#toprightPan ul{width:117px; height:147px; margin:18px 0 0;}
#toprightPan ul li{height:30px; border-bottom:1px solid #CBCACA; line-height:29px;}
#toprightPan ul li a {width:117px; display:block; background:url(images/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
#toprightPan ul li a:hover{background:url(images/arrow-hover.gif) 0 50% no-repeat; text-decoration:none;}
#toprightPan ul li.underlinenone{height:30px; border-bottom:none; line-height:29px;} 

ul.un {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 11px; background: url('http://src.ucoz.ru/t/831/22.gif') no-repeat 3px 4px; margin-bottom: .6em;}

.k {font-family:Verdana,Tahoma,Arial,Helvetica;}
a.k {width:117px; display:block; background:url(http://vendors.com.ua/Images/Temp/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
a.k:hover{margin: 0; padding: 0 0 0 31px; background:url(http://vendors.com.ua/Images/Temp/arrow-hover.gif) 0 50% no-repeat; text-decoration:none;}

.ka 
a.ka {width:117px; display:block; background:url(http://vendors.com.ua/Images/Temp/arrow-normal.gif) 0 50% no-repeat #fff; color:#3B3B3B; text-decoration:none; padding:0 0 0 20px;}
a.ka:hover{margin: 0; padding: 0 0 0 31px; background:url(http://vendors.com.ua/Images/Temp/arrow-hover.gif) no-repeat 3px 4px; margin-bottom: .6em;}
li.k {margin: 0; padding: 0 0 0 31px; background: url('http://vendors.com.ua/Images/Temp/arrow-normal.gif') no-repeat 3px 4px; margin-bottom: .6em;}*/
/* --Последнее--- */
/* ----------------- */
/* ------------- */
/* Entry Manage Table 
.manTdError {color:#F00;}*/
/* ------------------ */
/* Comments Style 
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

/*.cBlock1 {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;border-top:1px solid #C9CFD8;border-left:1px solid #B9BFC7;border-bottom:1px solid #4F5D71;border-right:1px solid #4F5D71;}
.cBlock2 {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;border-top:1px solid #C9CFD8;border-left:1px solid #B9BFC7;border-bottom:1px solid #4F5D71;border-right:1px solid #4F5D71;}*/
/* User Group Marks */
/* ---------------- */
/* Other Styles 
.replaceTable {background:url('http://src.ucoz.ru/t/831/23.gif') bottom repeat-x #FFFFFF;height:100px;width:300px;border:1px solid #597798;}

.legendTd {font-size:7pt;}
/* ------------ */
